.navbar{
    display: flex;
    column-gap: 350px;
    margin-left: 20px;
    position: sticky;
    top: 0px;       
}
.nav1{
    display: flex;
    column-gap: 25px;
    
}
.nav3{
    display: flex;
    column-gap: 25px;
    
}
.background{
    background-image: url(bg1.webp);
    background-size: cover;
    height: 550px;
    width: 1400px;
    padding-top: 400px;
    padding-left: 30px;
    font-size: 70px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
       
}
.background button{
    height: 70px;
    width: 150px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}
.background button:hover{
    background-color: aqua;
}
.h{
    display: flex;
    column-gap: 35px;
}
.Heading{
    margin-top: 100px;
    font-size: 50px;
    
}
.h .h1 img{
    height: 700px;
    width:500px;
    margin-top: 70px;
}
.h .h2 img{
    height:500px;
    width: 450px;
}
.h .h3 img{
    height:500px;
    width:400px;
    margin-top: 50px;
}
.para p{
margin-left: 600px;
margin-top: -200px;
font-size: 20px;
}
.para button{
    margin-left: 600px;
    height:70px;
    width:150px;
    padding: 10px;
    
    border-radius: 10px;
    font-size: 20px;
    color: rgb(109, 28, 28);
} 
.para button:hover{
    background-color: rgb(202, 28, 28);
}
.head{
    display: flex;
    column-gap: 50px;
    margin-left: 400px;
    margin-top: 100px;
    font-size: 20px;
}





